<div class="information_popup_container">
	<div class="information">
		<% if h.muerto %>
			<img src="/images/personajes/dead.png" alt="muerto" id='icon'>
		<% else %>
			<img src="<%= h.img_path %>" alt="<%= h.name %>" id="icon">
		<% end %>
	</div>
	<div class="popup_information">
		<div class="container">
			<h3><%= h.name %></h3>
			<hr>
			<img src="<%= h.big_path %>" alt="<%= h.name %>"
					 class="img-thumbnail mx-auto d-block" id="portrait">
			<p class="text-center">
				<% if h.muerto %>
					<small>Muerto con honor</small>
					<br>
					R.I.P
				<% end %>
			</p>
		</div>
	</div>
</div>