<p>
	<div class="card-group">
		<% %w(ayuntamiento biblioteca artesanos cuarteles).each do |plaza| %>
			<div class="card">
				<div class="card-header"><%= plaza.capitalize %></div>
				<a href="/<%= plaza %>">
					<img class="card-img-top"
							 src="/images/ciudad/<%= plaza %>.png" alt="<%= plaza %>" >
				</a>
				<div class="card-body">
					<%= slim :"ciudad/plazas/#{plaza}" %>
				</div>
			</div>
		<% end %>
	</div>
</p>