<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover table-sm">
		<thead class="thead-dark">
			<tr>
				<th colspan=2>Héroe</th>
				<th>Jugador</th>
				<th colspan=2>Familiar</th>
				<th>¿Torpe?</th>
			</tr>
		</thead>
		<% fc.each do |h| %>
			<tr>
				<td>
					<a href="/hero/<%= h.id %>">
						<img src="<%= h.img_path %>" alt='<%= h.name %>' id='icon'>
					</a>
				</td>
				<td><a href="/hero/<%= h.id %>"><%= h.name %></a></td>
				<td><%= h.jugador %></td>
				<td>
					<%= erb :'display/display', locals: {
											title:       h.pet.nombre, 
											path:        h.pet.img_path,
											description: h.pet.descripcion } %>
				</td>
				<td><%= h.pet.name %></td>
				<td><%= h.pet.torpe ? 'Sí' : 'No' %></td>
			</tr>
		<% end %>
	</table>
</div>