<h2>Las razas del Viejo Mundo</h2>

<h3>Las <%= total_razas %> razas disponibles</h3>
<%= slim :'personajes/razas/center/disponibles' %>

<h3>Creando un personaje alternativo (reservista)</h3>
<%= slim :'personajes/razas/center/reservistas' %>
<%= slim :'personajes/razas/center/generadorpjs' %>

<h3>El inevitable fin de un héroe</h3>
<%= slim :'personajes/razas/center/muerte' %>