<!DOCTYPE html>
<% title = "Hero Quest" %>
<html lang="es">
	<head><%= slim :'layout/head', locals: { title: title } %></head>
	<body>

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<%= erb :'layout/nav', locals: { title: title } %>
			</div>
		</nav>

		<!-- Carousel (only in '/', /inicio)-->
		<% if params[:view] == 'inicio' %>
			<%= erb :'inicio/carrousel' %>
		<% end %>

		<div class="container">
			<!-- Error Handler -->
			<% if @error then %>
				<%= erb :'layout/error' %>
			<% end %>

			<!-- Page Heading/Breadcrumbs -->
			<!-- % unless params[:view] == 'inicio' -->
			<% unless true %>
				<%= erb :'layout/breadcrumbs' %>
			<% end %>

			<!-- Main Content -->
			<%= yield %>

			<footer><%= slim :'layout/footer' %></footer>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/js/jquery.js"></script>
		<!-- Include all compiled plugins (below) -->
		<!-- or include individual files as needed -->
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>