<!DOCTYPE html>
<% title = "Hero Quest" %>
<html lang="es">
	<head><%= slim :'layout/head', locals: { title: title } %></head>
	<body>

		<!-- Navigation -->
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<%= erb :'layout/nav', locals: { title: title } %>
			</div>
		</nav>

		<!-- Carousel (only in '/', /inicio)-->
		<% if params[:view] == 'inicio' %>
			<%= erb :'inicio/carrousel' %>
		<% end %>

		<div class="container">
			<!-- Error Handler -->
			<% if @error then %>
				<%= erb :'layout/error' %>
			<% end %>

			<!-- Page Heading/Breadcrumbs -->
			<!-- % unless params[:view] == 'inicio' -->
			<% unless true %>
				<%= erb :'layout/breadcrumbs' %>
			<% end %>

			<!-- Main Content -->
			<%= yield %>
		</div>

		<footer class="py-5 bg-dark">
			<%= slim :'layout/footer' %>
		</footer>

		<!-- Bootstrap core JavaScript -->
		<script src="/jquery/jquery.min.js"></script>
		<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

	</body>
</html>