<!DOCTYPE html>
<html lang="es">
	<head>
		<%= erb :'layout/head', locals: { title: "HeroQuest" } %>
	</head>
	<body>
		<!-- Navigation -->
		<%= erb :'layout/nav', locals: { title: "HeroQuest" } %>

		<!-- Error Handler -->
		<%if @error then %>
			<%= erb :'layout/error' %>
		<% end %>
		
		<!-- Main Content -->
		<%= yield %>

		<!-- Footer -->
		<%= erb :'layout/footer' %>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/js/jquery.js"></script>
		<!-- Include all compiled plugins (below) -->
		<!-- or include individual files as needed -->
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>