<% g = gema(params[:param].to_i) %>
<h2><%= g.name.capitalize %></h2>

<%= erb :'objetos/gemas/detalle', locals: { g: g } %>

<h3>Características</h3>
<ul>
	<li>
		<b>Calibre</b>: (<%= g.calidad["calibre"] %>) <%= g.calidad["name"] %>
	</li>
	<li><b>Color</b>: Por hacer...</li>
</ul>

<h3>Propiedades mágicas</h3>
<p><%= erb :'objetos/gemas/propiedades', locals: { g: g } %></p>

<h3>Disponibilidad</h3>
<p>
	<% unless g.disponibles.empty? %>
		<%= erb :'objetos/gemas/disponibilidad', locals: { g: g } %>
	<% else %>
		Ningún héroe posee esta gema.
	<% end %>
</p>