<% sombra = sombras.find {|s| s.name == params[:param] } %>
<% hielo =  hielos.find  {|s| s.name == params[:param] } %>
<% arena =  arenas.find  {|s| s.name == params[:param] } %>
<% sangre = sangres.find {|s| s.name == params[:param] } %>
<% spell =  spells.find  {|s| s.name == params[:param] } %>

<% h = spell|| sombra || hielo || arena || sangre %>

<div class="card">
	<div class="card-header">
		<h4>Estadísticas</h4>
	</div>

	<a href="/hechizo/<%= h.name %>">
		<img class="card-img-top"
				 src="/images/magia/ilustraciones/<%= h.name %>.png"
				 alt="<%= h.name %>">
	</a>

	<ul class="list-group list-group-flush ">
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<i class="fas fa-certificate fa-fw"></i> Nivel
			<span class="badge badge-secondary badge-pill"><%= h.nivel %></span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<i class="fas fa-text-height fa-fw"></i> Alcance
			<span class="badge badge-secondary badge-pill"><%= h.alcance %></span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<i class="fas fa-hourglass-half fa-fw"></i> Duración
			<span class="badge badge-secondary badge-pill"><%= h.duracion %></span>
		</li>
	</ul>
</div>
<br>