<% sombra = sombras.find {|s| s.name == params[:param] } %>
<% hielo =  hielos.find  {|s| s.name == params[:param] } %>
<% arena =  arenas.find  {|s| s.name == params[:param] } %>
<% sangre = sangres.find {|s| s.name == params[:param] } %>
<% spell =  spells.find  {|s| s.name == params[:param] } %>

<% h = spell|| sombra || hielo || arena || sangre %>





<h2>Estadísticas</h2>
<a href="/hechizo/<%= h.name %>">
	<img src="/images/magia/ilustraciones/<%= h.name %>.png" 
			 alt="<%= h.name %>" class="img-responsive">
</a>

<div class="table-responsive">
	<table class="table">
		<tbody>
			<tr>
				<td>Nivel</td>
				<td width="50%"><%= h.nivel %></td>
			</tr>
			<tr>
				<td>Alcance</td>
				<td width="50%"><%= h.alcance %></td>
			</tr>
			<tr>
				<td>Duración</td>
				<td width="50%"><%= h.duracion %></td>
			</tr>
		</tbody>
	</table>
</div>