<% h = spells.find {|s| s.name == params[:param] } %>

<h2><%= h.name %></h2>
<hr>

<div class="alert alert-secondary">
	<h4 class="alert-heading">Efecto</h4>
	<p class="mb-0"><%= h.efecto %></p>
</div>

<dl class="row text-left">
	<dt class="col-lg-3">Tipo</dt>
	<dd class="col-lg-9">
		<a href="/tipodemagia/<%= h.tipo %>"><%= h.tipo %></a>
		de <%= h.elemento %> de <strong>nivel <%= h.nivel %></strong>
	</dd>
	
	<dt class="col-lg-3">Potencia</dt>
	<dd class="col-lg-9"><%= h.potencia %></dd>
	
	<dt class="col-lg-3">Maestría</dt>
	<dd class="col-lg-9"><%= h.maestría %></dd>

	<dt class="col-lg-3">Diablura</dt>
	<dd class="col-lg-9"><%= h.diablura %></dd>

	<dt class="col-lg-3">Ardid</dt>
	<dd class="col-lg-9"><%= h.ardid %></dd>
</dl>