<h2>
	<%= params[:view].capitalize %>
	de nivel <%= params[:param].to_i %>
</h2>

<hr>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover table-sm">
		<thead class="thead-dark">
			<th>#</th>
			<th colspan='2'>Plegaria</th>
			<th>Efecto</th>
			<th>summun</th>
			<th>chakra</th>
		</thead>
		<tbody>
			<%= erb :'magia/hechizos/plegarias' %>
		</tbody>
	</table>
</div>

<nav aria-label="Magia sagrada">
	<ul class="pagination justify-content-center">
		<% 4.times do |level| %>
		<li class="page-item">
			<a class="page-link" href="/<%= params[:view] %>/<%= level + 1 %>">
				<%= level + 1 %>
			</a>
		</li>
		<% end %>
	</ul>
</nav>