<% sombra = sombras.find {|s| s.name == params[:param] } %>
<% hielo =  hielos.find {|s| s.name == params[:param] } %>
<% arena =  arenas.find {|s| s.name == params[:param] } %>
<% sangre = sangres.find {|s| s.name == params[:param] } %>

<% h = sombra || hielo || arena || sangre %>

<h2><%= h.name.capitalize %></h2>

<p>
	<ul>
		<li><strong>Efecto:</strong> <%= h.efecto %></li>
		<li>
			<strong>Tipo:</strong> <%= h.tipo %>
			de <%= h.elemento %> de nivel <%= h.nivel %>
		</li>
		<li><strong>Potencia</strong>: <%= h.potencia %></li>
		<li><strong>Maestría</strong>: <%= h.maestría %></li>
		<li><strong>Diablura</strong>: <%= h.diablura %></li>
		<li><strong>Ardid</strong>: <%= h.ardid %></li>
	</ul>
</p>