<h2>
	Hechizos de <%= params[:view] %>
	de nivel <%= params[:param] %>
</h2>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover table-sm">
		<thead class="thead-dark">
			<th>Icono</th>
			<% unless %w(sombra arena hielo sangre).include?(params[:view]) %>
				<th>Elemento</th>
			<% end %>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Potencia</th>
		</thead>
		<tbody>
			<%= erb :'magia/hechizos/sagradas' %>
		</tbody>
	</table>
</div>

<nav aria-label="Hechizos de sombras">
	<ul class="pagination justify-content-center">
		<% 4.times do |level| %>
		<li class="page-item">
			<a class="page-link" href="/<%= params[:view] %>/<%= level + 1 %>">
				<%= level + 1 %>
			</a>
		</li>
		<% end %>
	</ul>
</nav>