<h2>Especializaciones</h2>
<hr>
<a href='/raza/<%= params[:param] %>'>
	<img src='/images/razas/<%= params[:param] %>.jpg' 
			 alt="<%= params[:param] %>"
			 class="img-fluid">
</a>

<p>
	<h3>Tipos de <%= pj = params[:param] %></h3>
	<div class="list-group">
		<% case pj
			when 'humanos'%>
				<a class="list-group-item" href="/personaje/bárbaro">Bárbaro</a>
				<a class="list-group-item" href="/personaje/paladín">Paladín</a>
				<a class="list-group-item" href="/personaje/ladrón">Ladrón</a>
				<a class="list-group-item" href="/personaje/clérigo">Clérigo</a>
				<a class="list-group-item" href="/personaje/mago">Mago</a>
		<% when 'elohim' %>
			<% clases['elohim'].each do |special| %>
				<a class="list-group-item" href="/special/<%= special %>">
					<%= special %>
				</a>
			<% end %>
		<% else %>
			<% clases[pj[0..-2]].each do |special| %>
				<a class="list-group-item" href="/especial/<%= special %>">
					<%= special %>
				</a>
			<% end %>
		<% end %>
	</div>
</p>