<% h = hero(params[:param].to_i) %>

<div class="row">
	<div class="col-lg-12">
			<h2 class="page-header">Ficha de personaje</h2>
	</div>
	
	<div class="col-lg-12">

		<ul id="myTab" class="nav nav-tabs nav-justified">
				<li class="active">
					<a href="#stats" data-toggle="tab">
						<i class="fa fa-map-signs fa-fw" aria-hidden="true"></i>
						Estadísticas
					</a>
				</li>
				<li class="">
					<a href="#equipo" data-toggle="tab">
						<i class="fa fa-fort-awesome" aria-hidden="true"></i>
						Equipo
					</a>
				</li>
				<li class="">
					<a href="#habs" data-toggle="tab">
						<i class="fa fa-server fa-rotate-180 fa-fw" aria-hidden="true"></i>
						Habilidades
					</a>
				</li>
		</ul>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="stats">
				TBD
			</div>
			<div class="tab-pane fade" id="equipo">
				<% 3.times do |i| %>
					<div class="col-md-4">
						<%= erb :"ficha/inventario/columna#{i+1}", locals: { heroe: h } %>
					</div>
				<% end %>
			</div>
			<div class="tab-pane fade" id="habs">
				<%= slim :'ficha/habilidades', locals: { heroe: h } %>
			</div>
		</div>

	</div>
</div>

<% if h.abalorios && h.piezas && h.materiales %>
	<div class="row">
	  <div class="col-md-4"><%= erb :'ficha/abalorios'  %></div>
	  <div class="col-md-4"><%= erb :'ficha/piezas'     %></div>
	  <div class="col-md-4"><%= erb :'ficha/materiales' %></div>
	</div>
<% end %>

<% if h.pociones && h.pergaminos %>
<div class="row">
  <div class="col-md-6"><%= erb :'ficha/pociones'   %></div>
  <div class="col-md-6"><%= erb :'ficha/pergaminos' %></div>
</div>	
<% end %>

<% if h.tesoro %>
	<div class="row">
		<div class="col-md-12"><%= erb :'ficha/tesoros' %></div>
	</div>
<% end %>

<% if h.master %>
	<div class="row">
		<div class="col-md-12">
			<%= erb :'ficha/master', locals: { heroe: h } %>
		</div>
	</div>
<% end %>