<h2>Calculador de engarces</h2>
<hr>

<%= slim :'objetos/calculadora/consulta' %>

<% if params[:engarces] %>
	<p>
		<div class="card border-success mb-3">
			<div class="card-header text-success">
				<i class="fa fa-check" aria-hidden="true"></i>
				Coste de engarzar el objeto
			</div>
			<div class="card-body">
				<h5 class="card-title">Características</h5>
				<p class="card-text">
					<dl class="row">
						<dt class="col-lg-4">Encantamientos</dt>
						<dd class="col-lg-2"><%= params[:objeto] %></dd>

						<dt class="col-lg-4">Ranuras</dt>
						<dd class="col-lg-2"><%= params[:ranuras] %></dd>

						<dt class="col-lg-4">Reputación</dt>
						<dd class="col-lg-2"><%= params[:repu] %></dd>

						<dt class="col-lg-4">Engarces</dt>
						<dd class="col-lg-2"><%= params[:engarces] %></dd>
					</dl>
				</p>
			</div>
			<div class="card-footer bg-secondary text-white">
				<%= calcular_coste(params) %>
				<i class="fa fa-database text-warning" aria-hidden="true"></i>
				piezas de oro
			</div>
		</div>
	</p>
<% end %>