<h2>Pociones</h2>
<hr>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover table-sm">
		<thead class="thead-dark">
			<th colspan='2'>Poción</th>
			<th>Precio</th>
			<th>Descripción</th>
		</thead>
		<tbody>
			<% pociones.each do |pocion| %>
			<% p = Pocion.new(pocion) %>	
				<tr>
					<td><img src=<%= p.img_path%> alt=<%=p.name%>, id='icon' /></td>
					<td>Poción de <%= p.name %></td>
					<td style="text-align:right;">
						<%= p.precio %>
						<i class="fas fa-database text-warning"></i>
					</td>
					<td><%= p.efecto %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>