<h2>Profesiones</h2>

<div class="table-responsive">
	<table class='table'>
		<tbody>
			<% profesions.each do |p| %>
				<tr>
					<td><a href=<%="/profesion/#{p.name}"%>>
						<img src=<%= p.img_path %> alt='<%= p.name %>' id='icon' />
					</a></td>
					<td>
						<a href=<%="/profesion/#{p.name}"%>><%= p.name %></a>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>