<% pj = params[:param] %>

<h2>El <%= pj %> como personaje</h2>
<%= slim :'personajes/clases/clase/iniciales' %>

<h3>Especializaciones</h3>
<%= erb :'personajes/clases/special_table', locals: {pj: pj} %>

<p>
	<h3>Familiares disponibles del <%= pj %></h3>
	<%= erb :'personajes/clases/pets_table', locals: {pj: pj} %>
</p>

<p>
	<% prof = profesions.detect {|p| p.imped == pj }%>
	<h3>Profesión prohibida: <%= prof.name %></h3>
	<%= slim :'personajes/clases/clase/profesión' %>

</p>