<% h = hero(params[:param].to_i) %>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Melee</th>
				<th class="text-center">Rango</th>
				<th class="text-center">Defensa</th>
				<th class="text-center">Cuerpo</th>
				<th class="text-center">Mente</th>
				<th class="text-center">Mov.</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= h.ataque %></td>
				<td><%= h.rango %></td>
				<td><%= h.defensa %></td>
				<td><%= h.cuerpo %></td>
				<td><%= h.mente  %></td>
				<td><%= h.movimiento %></td>
			</tr>
		</tbody>
	</table>
</div>