<% h = hero(params[:param].to_i) %>

<h3>Estadísticas</h3>
<dl class="row">
	<dt class="col-sm-8">
		<abbr title="Puntos de Mente" class="initialism">PM</abbr>
	</dt>
	<dd class="col-sm-4"><%= h.mente %></dd>

	<dt class="col-sm-8">
		<abbr title="Puntos de Cuerpo" class="initialism">PC</abbr>
	</dt>
	<dd class="col-sm-4"><%= h.cuerpo %></dd>

	<dt class="col-sm-8">
		<abbr title="Movimiento">Mov</abbr>
	</dt>
	<dd class="col-sm-4"><%= h.movimiento %></dd>
</dl>

<hr>

<h3>Combate</h3>
<dl class="row">
	<dt class="col-sm-8">Melee</dt>
	<dd class="col-sm-4"><%= h.ataque %></dd>

	<dt class="col-sm-8">Defensa</dt>
	<dd class="col-sm-4"><%= h.defensa %></dd>

	<dt class="col-sm-8">Rango</dt>
	<dd class="col-sm-4"><%= h.rango %></dd>
</dl>