<% r = runa(params[:param].to_i) %>

<div class="card">
	<div class="card-header">
		<h4>La runa <%= r.name.upcase %></h4>
	</div>

	<a href="/runa/<%= r.id %>">
		<img class="card-img-top" src="<%= r.big_img %>" alt="<%= r.name.upcase %>">
	</a>
	
	<div class="card-body">
		<p class="card-text">
			<%= slim :"objetos/runas/lenguaje/#{ r.name }" %>
		</p>
	</div>
</div>
