<% r = runa(params[:param].to_i) %>

<h2>La runa <%= r.name.upcase %></h2>

<a href='/runa/<%= r.id %>' class="img-fluid">
	<img src=<%= r.big_img %> alt='<%= r.name.upcase %>'/>
</a>
<hr>
<%= slim :"objetos/runas/lenguaje/#{ r.name }" %>