<h2>El palacio del Emperador</h2>

<h3>Servicios</h3>
<p>
	En el palacio, el administrador de fincas y patrimonios gestiona el registro de cada héroe,
	así como las rentas asignadas. El valor de rentas corresponde con el número de dados de 6
	que el jugador tirará al final de cada reto terminado satisfactoriamente.
</p>

<h3>Registro patrimonial</h3>
<div class="table-responsive">
	<table class='table'>
		<thead>
			<tr>
				<th colspan=2 class="text-center">Héroe</th>
				<th class="text-center">Cargo</th>
				<th class="text-center">Oro</th>
				<th class="text-center">Rentas</th>
				<th class="text-center">Patrimonio</th>
			</tr>	
		</thead>
		<tbody>
			<% heros.select{ |h| h.oro }.sort_by{|h| h.oro}.reverse.each do |hero| %>
				<tr>
					<td>
						<a href=<%= "/hero/#{hero.id}" %>>
							<%= erb :'display/portrait', locals: { h: hero } %>
						</a>
					</td>
					<td><%= hero.name %> (<%= hero.jugador %>)</td>
					<td><%= hero.titulo %></td>
					<td><%= hero.oro %></td>
					<td><%= hero.rentas %></td>
					<td><%= hero.id %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>