<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover table-sm">
		<thead class="thead-dark">
			<tr>
				<th colspan=2>Montura</th>
				<th>Recorrido</th>
				<th>Distancia</th>
				<th>Precio</th>
			</tr>
		</thead>
		<tbody>
			<% monturas.each do |montura| %>
				<% m = Montura.new(montura) %>
				<tr>
					<td><%= erb :'display/display', locals: {
						title:       m.name,
						path:        m.img_path,
						description: m.bono } %>
					</td>
					<td><%= m.name %></td>
					<td><%= m.recorrido.capitalize %></td>
					<td><%= m.distancia %></td>
					<td>
						<%= m.precio %>
						<i class="fas fa-database text-warning"></i>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>