<h2>Las Fases del Juego</h2>
<%= slim :'manuales/fases/retos' %>
<%= slim :'manuales/fases/rondas' %>
<%= slim :'manuales/fases/turnojugador' %>
<%= slim :'manuales/fases/turnomb' %>
<%= slim :'manuales/fases/trepidante' %>

<h2>Mejorar la experiencia de juego</h2>
<%= slim :'manuales/fases/agilizando' %>