<% dado1 = dado_tesoro; dado2 = dado_tesoro; sigmar = dado_sigmar %>
<% #dado1 = 6; dado2 = 4; #sigmar = 'eagle' %>
<% total = (dado1 + dado2)%>
<% resultado = tesoro(sigmar, dado1, dado2)%>

<div class="table-responsive">
	<table class='table'>
		<thead>
			<tr>
				<th class="text-center">Repetir</th>
				<th class="text-center">Tirada</th>
				<th class="text-center">Descripción</th>
				<th class="text-center">Icono</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="/tesoro">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-cube fa-stack-1x fa-pulse" aria-hidden="true"></i>
						  <i class="fa fa-repeat fa-stack-2x fa-spin" aria-hidden="true"></i>
						</span>
					</a>
				</td>
				<td>
					<%= total %><% img_path  = "/images/tesoro/#{sigmar}.png" %>
					<img style="vertical-align:middle" src="<%=img_path%>"
							 alt="<%= sigmar %>" id='icon' />
				</td>
				<td><%= resultado %></td>
				<td>
					<%= erb :"manuales/tesoro/#{total}", locals: { 
						dado1:     dado1,
						dado2:     dado2,
						sigmar:    sigmar,
						resultado: resultado
					} %>
				</td>
			</tr>
		</tbody>
	</table>
</div>