<div class="row">
	<div class="col-md-3 text-left">
		<p>
			<div class="list-group" id="list-tab" role="tablist">
				<% clases.keys.each_with_index do |pj,i| %>
					<a class="list-group-item list-group-item-action <%= 'active' if i == 0 %>"
						 id="list-<%= pj %>-list" data-toggle="list" href="#list-<%= pj %>"
						 role="tab" aria-controls="<%= pj %>">
						<img src="/images/personajes/<%= pj %>.png" alt=<%= pj %> id='icon'>
						<%= pj.capitalize %>
					</a>
				<% end %>
			</div>
		</p>
	</div>

	<div class="col-md-9">
		<p>
			<div class="tab-content" id="nav-tabContent">
				<% clases.keys.each_with_index do |pj,i| %>
					<div class="tab-pane fade <%= 'show active' if i == 0 %>"
							 id="list-<%= pj %>" role="tabpanel" aria-labelledby="list-<%= pj %>-list">
						<div class="card-group">

							<!-- Escudo de armas -->
							<% clases[pj].each do |clase| %>
								<div class="card">
									<div class="card-header">
										<h5><%= clase.capitalize %></h5>
									</div>
									<a href="/habilidad/<%= clase %>">
										<img src="/images/clases/<%= clase %>.png"
												 class="card-img-top" alt="<%= clase %>">
									</a>
									<div class="card-body">
										<p>
											<a href="/habilidad/<%= clase %>" class="btn btn-primary btn-block">
												<i class="fas fa-sitemap"></i> ver habilidades
											</a>
										</p>
										<hr>
										<p class="card-text font-italic text-secondary">
											<%= slim :"personajes/habilidades/clases/#{clase}" %>
										</p>
										<p class="mb-0">
											<a href="/especial/<%= clase %>" class="btn btn-sm btn-outline-secondary">
												<i class="fas fa-plus"></i> Leer más
											</a>
										</p>
									</div>
									<div class="card-footer">
										<p>
											<small class="text-muted">
												Salón de la fama del <strong><%= clase %></strong>:
											</small>
										</p>
										<a href="/fama/<%= clase %>" class="btn btn-warning btn-block btn-sm">
											<i class="fas fa-star"></i>
											<%= fama(clase) %>
											<i class="fas fa-star"></i>
										</a>
									</div>
								</div>
							<% end %>

						</div>
					</div>
				<% end %>
			</div>
		</p>
	</div>
</div>