<h2><%= params[:param].capitalize %></h2>
<hr>

<% personajes.each do |pj| %>
	<% personaje_skills = send(pj.gsub('se침or de las bestias','beastslord') + 's') %>
	<% coincidencia = personaje_skills.find{ |hab| hab['name'].downcase == params[:param] } %>
	<% if coincidencia %>
		<% skill = Habilidad.new(coincidencia) %>
		<p><i>Habilidad <%= skill.type %> de <%= pj %> de nivel <%= skill.nivel %></i></p>

		<ul class="list-group">
			<% if skill.coste %>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Coste: <%= skill.coste %>
				</li>
			<% end %>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Rangos: <%= skill.ranks %>
			</li>

			<% if skill.invocaci칩n %>
				<div class="alert alert-dark" role="alert">
					<h4>Esbirro</h4>
					<hr>
					<p><%= skill.invocaci칩n %></p>
				</div>
			<% end %>
		</ul>

		<div class="alert alert-info" role="alert">
			<h4>Descripci칩n</h4>
			<p><%= skill.description %></p>
		</div>

	<% end %>
<% end %>