<% h = hero(params[:param].to_i) %>

<div class="card">
	<a href="/hero/<%= h.id %>">
		<img class="card-img-top" src="<%= h.big_path %>" alt="<%= h.name %>">
	</a>
	<div class="card-body">
		<h5 class="card-title"><%= h.name %></h5>
		<p class="card-text">
			<%= h.titulo %>
			<% if h.muerto %>
					<small>R.I.P</small>
			<% end %>
		</p>
	</div>
</div>