<% h = hero(params[:param].to_i) %>

<h2><%= h.titulo %></h2>

<a href="/hero/<%= h.id %>">
	<img src=<%= h.big_path %>
			 alt="<%= h.name %>"
			 class="img-fluid" />
</a>

<% if h.historia %>
	<p>
		<a href="/historia/<%= h.id %>" %>
			Historia de <%= h.name %>
		</a>
	</p>
<% end %>