<% h  = hero(params[:param].to_i) %>
<% pj = h.personaje %>

<h2>El <%= h.clase %> <%= pj %></h2>

<a href="/habilidad/<%= pj.gsub('señor de las bestias','beastslord') %>"%>
	<img src="/images/clases/<%= pj %>.png"
			 alt="<%= pj %>"
			 class="img-fluid">
</a>