<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">

	<!-- Indicators -->
	<ol class="carousel-indicators">
		<% carousel.each_with_index do |c, i| %>
			<li data-target="#myCarousel" data-slide-to="<%= i %>" <%= 'class="active"' if i == 0 %> ></li>
		<% end %>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<% carousel.each_with_index do |c, i| %>
			<div class="item <%= 'active' if i == 0 %>">
				<div class="fill"
						 style="background-image:url('/images/inicio/carousel/<%= c['name']%>.png');">
				</div>
				<div class="carousel-caption">
					<h2><%= c['title']%></h2>
				</div>
			</div>
		<% end %>
	</div>
	
	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="icon-next"></span>
	</a>

</header>